body{
    background-color: rgb(217,217,217);
}

.uk-background-navig{
    background-color: rgb(240,88,3);
}

.navabove{
    padding-right: 7%;
}

.navasidehome{
    margin-top: 88px;
    margin-bottom: -192px;
}

.navasideprijzen{
    margin-top: 88px;
    margin-bottom: -192px;
}

.navasidediensten{
    margin-top: 88px;
    margin-bottom: -192px;
}

.navasidecontact{
    margin-top: 88px;
    margin-bottom: -192px;
}

.navasideqanda{
    margin-top: 88px;
    margin-bottom: -192px;
}


.logo{
    width: 110px;
    padding-left: 20%;
}

.companyname{
    font-weight: bolder;
    font-size: 50%;
}

.logo_main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.slogan{
    text-align: center;
    font-family: "Comic Sans MS";
}

.sidenav{
    padding-top: 50px;
    margin-left: 10%;
}

.prijzen{
    padding-right: 7%;
}

